%footer.footer
  .footer__top
    .top-contents
      .top-contents__word
        だれでもかんたん、人生を変えるフリマアプリ
        %p 今すぐ無料ダウンロード！
      .top-contents__store
        .apple-store
          = link_to "#" do
            = image_tag("badge/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", class: "apple-store__icon")
        .google-play
          = link_to "#" do
            = image_tag("badge/google-play-badge.png", class: "google-play__icon")
  .footer__bottom
    .bottom-contents
      .bottom-contents__left-box
        .box-header
          FURIMAについて
        %ul.box-content
          %li.box-content__words
            =link_to "#", class:"footer-word" do
              会社概要(運営会社)
          %li.box-content__words
            =link_to "#", class:"footer-word" do
              プライバシーポリシー
          %li.box-content__words
            =link_to "#", class:"footer-word" do
              FURIMA利用規約
          %li.box-content__words
            =link_to "#", class:"footer-word" do
              ポイントに関する特約
      .bottom-contents__center-box
        .box-header
          FURIMAを見る
        %ul.box-content
          %li.box-content__words
            =link_to "#", class:"footer-word" do
              カテゴリー一覧
          %li.box-content__words
            =link_to "#", class:"footer-word" do
              ブランド一覧
      .bottom-contents__right-box
        .box-header
          ヘルプ＆ガイド
        %ul.box-content
          %li.box-content__words
            =link_to "#", class:"footer-word" do
              FURIMAガイド
          %li.box-content__words
            =link_to "#", class:"footer-word" do
              FURIMAロゴ利用ガイドライン
          %li.box-content__words
            =link_to "#", class:"footer-word" do
              お知らせ
    .bottom-items
      = link_to root_path do
        = image_tag("material/logo/logo-white.png",class: "bottom-items__logo")
      .bottom-items__word
        ©︎FURIMA