%header.header
  .header__top
    .top-page
      = link_to root_path do
        = image_tag("material/logo/logo.png",class: "title")
    .search-form
      = form_with url: "#",class:"search" do |f|
        .search__box
          = f.text_field :name, placeholder: "キーワードから探す", class: "search-form"
          %button{type: "submit", class:'search-btn'}
            %i.fas.fa-search.search-btn__icon
  .header__bottom
    .left-box
      =link_to "#", class:"left-box__categories" do
        カテゴリー
      =link_to "#", class:"left-box__brand" do
        ブランド
    -if user_signed_in?
      .right-box
        = link_to "#", class:"right-box__login" do
          マイページ
        = link_to destroy_user_session_path, method: :delete,class:"right-box__new-user" do
          ログアウト
    -else
      .right-box
        = link_to new_user_session_path,class:"right-box__login" do
          ログイン
        = link_to new_user_registration_path,class:"right-box__new-user" do
          新規会員登録
