.signup-content
  .signup-main
    %h2.signup-main-title 会員情報入力
    = form_with model: @profile, local: true do |f|
      = render "devise/shared/error_messages", resource: @profile
      .information-text 
        .form-field
          = f.label :family_name, "お名前"
          %span.form-require 必須
          %br/
          = f.text_field :family_name, placeholder: "例) 鈴木",class: 'form-field__input__name'
          = f.text_field :first_name, placeholder: "例) 一郎",class: 'form-field__input__name'
        .form-field
          = f.label :family_name_kana, "お名前(カナ)"
          %span.form-require 必須
          %br/
          = f.text_field :family_name_kana, placeholder: "例) スズキ",class: 'form-field__input__name'
          = f.text_field :first_name_kana, placeholder: "例) イチロウ",class: 'form-field__input__name'
        .form-field
          = f.label :birth_day, "生年月日",class: 'form-field__input__birth'
          %span.form-require 必須
          %br/
          = f.date_select :birth_day, { use_month_numbers:true, prompt:"--", end_year:1900}
        .actions
          = f.submit "次へ",class: 'next-btn'
-# = render "devise/shared/links"
