<h2>会員情報入力</h2>

<%= form_with model: @profile, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: @profile %>

  <div class="field">
    <%= f.label :family_name, "お名前" %>必須<br />
    <%= f.text_field :family_name, placeholder: "例) 鈴木" %>
    <%= f.text_field :first_name, placeholder: "例) 一郎"%>
  </div>

  <div class="field">
    <%= f.label :family_name_kana, "お名前(カナ)" %>必須<br />
    <%= f.text_field :family_name_kana, placeholder: "例) スズキ" %>
    <%= f.text_field :first_name_kana, placeholder: "例) イチロウ" %>
  </div>


  <div class="field">
    <%= f.label :birth_day, "生年月日" %>必須<br />
    <%= f.date_select :birth_day, { use_month_numbers:true, prompt:"--", end_year:1900} %>
  </div>

  <div class="actions">
    <%= f.submit "次へ" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>