.one-box
  .one-box__contents
    .one-top
      人生を変えるフリマアプリ
    .one-bottom
      FURIMAはだれでもかんたんに出品・購入できる
      %p フリマアプリです
    .store
      .apple-store
        = link_to "#" do
          = image_tag("badge/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", class: "apple-store__icon")
      .google-play
        = link_to "#" do
          = image_tag("badge/google-play-badge.png", class: "google-play__icon")
.two-box
  .two-box__top
    .top-text
      FURIMAが選ばれる3つの理由
    .top-under
      ______
  .two-box__bottom
    .bottom-contents
      .bottom-contents__image
        = image_tag("material/pict/pict-reason-01.jpg")
        .image-number
          1
      .bottom-contents__middle
        %span 3分
        ですぐに出品
      .bottom-contents__bottom
        スマホで入力するだけでかんたんに出品できる！
    .bottom-contents
      .bottom-contents__image
        = image_tag("material/pict/pict-reason-02.jpg")
        .image-number2
          2
      .bottom-contents__middle
        %span シンプル
        で使いやすい
      .bottom-contents__bottom
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    .bottom-contents
      .bottom-contents__image
        = image_tag("material/pict/pict-reason-03.jpg")
        .image-number
          3
      .bottom-contents__middle
        手数料
        %span 業界最安
      .bottom-contents__bottom
        最大3％でお得に出品＆購入！
.three-box
  .three-box__contents
    .three-top
      会員数日本一位
    .three-bottom
      FURIMAは、フリマアプリで最も人気。
      %p 出品・購入回数も業界最多です！
      %p 欲しかったあの商品に出会えるかもしれません。
    .store
      .apple-store
        = link_to "#" do
          = image_tag("badge/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", class: "apple-store__icon")
      .google-play
        = link_to "#" do
          = image_tag("badge/google-play-badge.png", class: "google-play__icon")
.four-box
  .four-box__top
    .top-text
      FURIMAの特徴
    .top-under
      _____
  .four-box__bottom
    .bottom-contents
      .bottom-contents__image
        = image_tag("material/icon/icon-01.png")
      .bottom-contents__middle
        簡単に売り買いできる
      .bottom-contents__bottom
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    .bottom-contents
      .bottom-contents__image
        = image_tag("material/icon/icon-03.png")
      .bottom-contents__middle
        売上金は即日振込みに対応
      .bottom-contents__bottom
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
    .bottom-contents
      .bottom-contents__image
        = image_tag("material/icon/icon-02.png")
      .bottom-contents__middle
        様々な支払いに対応
      .bottom-contents__bottom
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
.five-box
  .five-box__category
    .pickup-text
      ピックアップカテゴリー
      %p 新規投稿商品
    .pickup-items
      5
  .five-box__brand
    .pickup-text
      ピックアップブランド
      %p アーカイバー
    .pickup-items
      5