- breadcrumb :items
= render "layouts/breadcrumbs"
.body
  .contents
    .item-box
      %h2.item-box__name 
        = @item.name
      .item-box__image
        .item-box__image-box
          %ul.main-image
            %li
              = image_tag @item.images[0].image_url, size: '450x346', class: "main-img"
              -if @item.buyer_id.present?
                .sold
                  .sold__inner 
                    SOLD
          .image-list
            .lists
              - @item.images.each do |image|
                = image_tag image.image_url, class: "images"
      .item-box__price
        %span 
        = "¥#{@item.price}"
      .item-box__price-detail
        %span (税込)
        %span 送料込み
      .button-box
        - if @item.buyer_id.present?
          SOLD
        - elsif user_signed_in?
          - unless current_user.id == @item.user_id
            .button-box__button
              = link_to "購入画面に進む", item_purchases_path(@item.id),class: 'buy-button' 
        - else
          .button-box__button
            = link_to "ログインがまだな方はこちらからお願いします", new_user_session_path, class: 'buy-button'
      .item-introduction
        = @item.introduction
      %table
        %tbody
          %tr
            %th 出品者
            %td 
              = @item.user.name
          %tr 
            %th カテゴリー
            %td.click
              = @item.category.root.name
              %br
              = @item.category.parent.name
              %br
              = @item.category.name
          %tr 
            %th ブランド
            %td
              = @item.brands_name
          %tr 
            %th 商品のサイズ
            %td
              = "#{@item.size}サイズ"
          %tr 
            %th 商品の状態
            %td 
              = @item.status
          %tr
            %th 配送料の負担
            %td 
              = @item.derivery_fee
          %tr
            %th 発送元の地域
            %td
              = @item.prefecture.name
          %tr
            %th 発送日の目安
            %td 
              = @item.data 
      .item-box__favorite
        #favorite.favorite-btn{ id: @item.id }
          = render "favorites/favorite"
      .seller-button
        - if @item.buyer_id.present?
          .button-box__no
        - elsif user_signed_in? && current_user.id == @item.user_id
          .button-box__button
            = link_to "編集する", edit_item_path(@item.id), class: 'edit-button', method: :get
          .button-box__button
            = link_to "削除する", item_path(@item.id), class: 'delete-button', method: :delete
        - else
          .button-box__no
      .comment-area
        .comment-show-field
          - if @comments
            %span.border -------------------------------------------------------------------------
            %h3.question-comment ＜コメント一覧＞
            .comment-box
              - @comments.each do |comment|
                %p.user-name
                = comment.user.name
                %strong ：
                = comment.text

        .comment-write-field
          - if current_user
            %p.careful-text 相手のことを考えて丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            = form_with(model: [@item, @comment], html: {class: "comment-form"}, local: true, id: "new_comment") do |form|
              = form.text_area :text, rows: "4", class: "comment-form__text-form"
              = form.submit "投稿する", class: "comment-form__comment-btn"
          - else
            %p.need-login ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    %ul.links
      %li
        = link_to "#" do
          %i.fa.fa-angle-left
          %span
          前の商品
      %li
        = link_to "#" do
          %span 後ろの商品
          %i.fa.fa-angle-right
    .related-items
      =link_to "#{@item.category.root.name}をもっと見る", "#", class: "more"
    .show-items
      - @items.each do |item|
        = link_to item_path(item), class: "item-link" do
          .items-lists
            .items-lists__image
              = image_tag item.images[0].image_url, size: '220x150', class: "item-image"
              -if item.buyer_id.present?
                .items-lists__image__sold
                  .items-lists__image__sold__inner 
                    SOLD
            .items-lists__info
              .items-lists__info__name
                = item.name
              .items-lists__info__price
                = "¥#{item.price}"
              .items-lists_info__tax
                (税込)
              .items-lists__info__favorite
                %i.far.fa-heart.favorite
                .count
                  = item.favorites.length