- breadcrumb :items
= render "layouts/breadcrumbs"
.body
  .contents
    .item-box
      %h2.item-box__name 
        = @item.name
      .item-box__image
        .item-box__image-box
          %ul.main-image
            %li
              = image_tag @item.images[0].image_url, size: '450x346', class: "main-img"
              -if @item.purchase.present?
                .sold
                  .sold__inner 
                    SOLD
          .image-list
            .lists
              - @item.images.each do |image|
                = image_tag image.image_url, class: "images"
      .item-box__price
        %span 
        = "¥#{@item.price}"
      .item-box__price-detail
        %span (税込)
        %span 送料込み
      .button-box
        - if @item.buyer_id.present?
          SOLD
        - elsif user_signed_in?
          - unless current_user.id == @item.user_id
            .button-box__button
              = link_to "購入画面に進む", item_purchases_path(@item.id),class: 'buy-button' 
        - else
          .button-box__button
            = link_to "ログインがまだな方はこちらからお願いします", new_user_session_path, class: 'buy-button'
      .item-introduction
        = @item.introduction
      %table
        %tbody
          %tr
            %th 出品者
            %td 
              = @item.user.name
          %tr 
            %th カテゴリー
            %td.click
              = @item.category.root.name
              %br
              = @item.category.parent.name
              %br
              = @item.category.name
          %tr 
            %th ブランド
            %td
              = @item.brands_name
          %tr 
            %th 商品のサイズ
            %td
              = "#{@item.size}サイズ"
          %tr 
            %th 商品の状態
            %td 
              = @item.status
          %tr
            %th 配送料の負担
            %td 
              = @item.derivery_fee
          %tr
            %th 発送元の地域
            %td
              = @item.prefecture.name
          %tr
            %th 発送日の目安
            %td 
              = @item.data 
      .seller-button
        - if user_signed_in? && current_user.id == @item.user_id
          .button-box__button
            = link_to "編集する", edit_item_path(@item.id), class: 'edit-button', method: :get
          .button-box__button
            = link_to "削除する", item_path(@item.id), class: 'delete-button', method: :delete
    %ul.links
      %li
        = link_to "#" do
          %i.fa.fa-angle-left
          %span
          前の商品
      %li
        = link_to "#" do
          %span 後ろの商品
          %i.fa.fa-angle-right
    .related-items
      =link_to "#{@item.category.root.name}をもっと見る", "#", class: "more"
    .items-lists
      .item-list
        = link_to "#", class: "item-list-button" do
          %figure.item-list__image
            %img_tag{ src: "#", alt: "商品リスト画像" }
          .item-list__body
            %h3.item-list__name 商品リスト商品名
            .item-list__details
              %ul 
                %li 30000円
                %p (税込) 