!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title FurimaApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    = yield
  %footer.footer
    .footer__top
      .top-contents
        .top-contents__word
          誰でもかんたん、人生を変えるフリマアプリ
          %p 今すぐ無料ダウンロード！
        .top-contents__store
      .store
    .footer__bottom
      .bottom-contents
        .bottom-contents__left-box
          .box-header
            FURIMAについて
          %ul.box-content
            %li.box-content__word
              会社概要(運営会社)
            %li.box-content__word
              プライバシーポリシー
            %li.box-content__word
              FURIMA利用規約
            %li.box-content__word
              ポイントに関する特約
        .bottom-contents__center-box
          .box-header
            FURIMAをみる
          %ul.box-content
            %li.box-content__word
              カテゴリー一覧
            %li.box-content__word
              ブランド一覧
        .bottom-contents__right-box
          .box-header
            ヘルプ＆ガイド
          %ul.box-content
            %li.box-content__word
              FURIMAガイド
            %li.box-content__word
              FURIMAロゴ利用ガイドライン
            %li.box-content__word
              お知らせ
      .bottom-items
        .bottom-items__logo
          = image_tag src = "/assets/material/logo/logo-white.png"
        .bottom-items__word
          ©︎FURIMA