!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title FurimaApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      .header__top
        .top-page
          = link_to image_tag(src="/assets/material/logo/logo.png",class: "title"), "/"
        .search-form
          = form_with url: "#",class:"search" do |f|
            .search__box
              = f.text_field :name, placeholder: "キーワードから探す", class: "search-form"
              %button{type: "submit", class:'search-btn'}
                %i.fas.fa-search.search-btn__icon
      .header__bottom
        .left-box
          =link_to "#", class:"left-box__categories" do
            カテゴリー
          =link_to "#", class:"left-box__brand" do
            ブランド
        .right-box
          = link_to "#",class:"right-box__login" do
            ログイン
          = link_to "#",class:"right-box__new-user" do
            新規会員登録
    = yield
    = link_to "#", class: "add-items" do
      .add-items__word
        出品する
      %i.fas.fa-camera.add-items__icon
    %footer.footer
      .footer__top
        .top-contents
          .top-contents__word
            だれでもかんたん、人生を変えるフリマアプリ
            %p 今すぐ無料ダウンロード！
          .top-contents__store
            .apple-store
              = link_to image_tag(src="/assets/badge/Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg", class: "apple-store__icon"), "#"
            .google-play
              = link_to image_tag(src="/assets/badge/google-play-badge.png", class: "google-play__icon"), "#"
      .footer__bottom
        .bottom-contents
          .bottom-contents__left-box
            .box-header
              FURIMAについて
            %ul.box-content
              %li.box-content__words
                =link_to "#", class:"footer-word" do
                  会社概要(運営会社)
              %li.box-content__words
                =link_to "#", class:"footer-word" do
                  プライバシーポリシー
              %li.box-content__words
                =link_to "#", class:"footer-word" do
                  FURIMA利用規約
              %li.box-content__words
                =link_to "#", class:"footer-word" do
                  ポイントに関する特約
          .bottom-contents__center-box
            .box-header
              FURIMAを見る
            %ul.box-content
              %li.box-content__words
                =link_to "#", class:"footer-word" do
                  カテゴリー一覧
              %li.box-content__words
                =link_to "#", class:"footer-word" do
                  ブランド一覧
          .bottom-contents__right-box
            .box-header
              ヘルプ＆ガイド
            %ul.box-content
              %li.box-content__words
                =link_to "#", class:"footer-word" do
                  FURIMAガイド
              %li.box-content__words
                =link_to "#", class:"footer-word" do
                  FURIMAロゴ利用ガイドライン
              %li.box-content__words
                =link_to "#", class:"footer-word" do
                  お知らせ
        .bottom-items
          = link_to image_tag(src="/assets/material/logo/logo-white.png",class: "bottom-items__logo"), "/"
          .bottom-items__word
            ©︎FURIMA